* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

[id^="bgc"] {
    width: 100%;
    z-index:-1;
}

#bgc-top {
    height: 15vh;
    background-color: #009688;
}

#bgc-bottom {
    height: calc(100vh - 15vh);
    background-color: #dcdbd2;
}

#app {
    height: 95vh;
    width:80%;
    margin:auto;
    background-color: #fff;
    position:absolute;
    top:2.5vh;
    bottom: 2.5vh;
    left: 10%;
    right:10%;
    z-index: 1;
}