* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

[id^="bgc"] {
    width: 100%;
    z-index:-1;
}

#bgc-top {
    height: 15vh;
    background-color: #009688;
}

#bgc-bottom {
    height: calc(100vh - 15vh);
    background-color: #dcdbd2;
}

#app {
    height: 95vh;
    width:80%;
    background-color: #fff;
    position:absolute;
    top:2.5vh;
    bottom: 2.5vh;
    left: 10%;
    right:10%;
    z-index: 1;
}

[id^="app-left-"],
[id^="app-right-"] {
    display: flex;
}

#app-left {
    width:300px;
    height: 100%;
    float:left;
}

#app-left-user {
    border-right: 1px solid #b1b1b1;
}

#app-left-user,
#app-right-target {
    background-color: #eaeaea;
    min-height: 3rem;
    max-height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 .8rem;
}

span > span {
    color: grey;
    font-size: .7rem;
}

#app-left-user > div,
#app-right-target > div {
    display: flex;
    align-items: center;
}

#app-left-user i,
#app-right-target i {
    color: #b1b1b1;
}

#app-left-user i:not(:last-child),
#app-right-target i:not(:last-child) {
    padding-right: .8rem;
}

#app-left-user i:hover
#app-right-target i:hover {
    cursor:pointer
}

#app-left-user img,
#app-right-target img {
    padding:.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


#app-left-unmute {
    background-color: #8edafc;
    min-height: 3rem;
    max-height: 3rem;
    padding: 2rem .8rem;
    align-items: center;
}

#app-left-unmute > i {
    padding:.3rem;
    margin-right: .5rem;
    background-color: white;
    color: #8edafc;
    border-radius: 50%;
}

#app-left-unmute a {
    color: grey;
    font-size: .7rem;
}

#app-left-unmute a:visited {
    color: grey;
}

#app-left-search {
    background-color:#fafafa;
    min-height: 2.3rem;
    max-height: 2.3rem;
    align-items: center;
    justify-content: center;
    padding: 0 .8rem;
}

#app-left-search > label {
    padding: .5rem;
    max-width: 2rem;
}

#app-left-search > label:hover {
    cursor:pointer;
}

#app-left-search > input {
    width: calc(100% - 2rem);
}

#app-left-contacts {
    height: calc(100% - 9.8rem);
    background-color: #fff;
    overflow-y:scroll;
}

#app-left-contacts > ul {
    width: 100%;
}

#app-left-contacts > ul > li {
    display:flex;
    padding: .5rem;
    border-bottom: 1px solid #eaeaea;
}

#app-left-contacts img {
    padding:.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#app-right {
    width:calc(100% - 300px);
    height: 100%;
    background-color: teal;
    float: right;
}

#app-right-target,
#app-right-text{
    min-height: 3rem;
    max-height: 3rem;
    background-color: #eaeaea;
}

#app-right-convo {
    height: calc( 100% - 6rem);
    overflow-y: scroll;
    background-image: url(https://i.redd.it/qwd83nc4xxf41.jpg);
    background-repeat: repeat;
}

