* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

[id^="bgc"] {
    width: 100%;
    z-index:-1;
}

#bgc-top {
    height: 15vh;
    background-color: #009688;
}

#bgc-bottom {
    height: calc(100vh - 15vh);
    background-color: #dcdbd2;
}

#app {
    height: 95vh;
    width:80%;
    background-color: #fff;
    position:absolute;
    top:2.5vh;
    bottom: 2.5vh;
    left: 10%;
    right:10%;
    z-index: 1;
}

#app-left {
    width:300px;
    height: 100%;
    background-color: teal;
}

#app-left-user {
    background-color: red;
    padding:.5rem .8rem;
    min-height: 3rem;
    max-height: 3rem;
}

#app-left-unmute {
    background-color: pink;
    min-height: 3rem;
    max-height: 3rem;
}

#app-left-search {
    background-color:powderblue;
    min-height: 3rem;
    max-height: 3rem;
}

#app-left-contacts {
    height: calc(100% - 9rem);
    background-color: purple;
    overflow-y:scroll;
}