<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet"> 
    <title>Boozapp</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Sfondo -->
    <div id="bgc-top"></div>
    <div id="bgc-bottom"></div>
    <!-- /Sfondo -->

    <!-- App -->
    <div id="app">
        <div id="app-left">
            <div id="app-left-user">
               <div>
                <img src="img/mario-draghi-1.jpg" alt="Mario Draghi">
                <span>Mario</span>
               </div>
               <div>
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
               </div>
            </div>
            <div id="app-left-unmute">
                <i class="fas fa-bell-slash"></i>
                <span>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </span>
            </div>
            <div id="app-left-search">
                <label for="cerca"><i class="fas fa-search"></i></label>
                <input type="text" id="cerca" placeholder="Cerca o inizia una nuova chat" @change="lookFor()">
            </div>
            <div id="app-left-contacts">
                <ul>
                    <li v-for="contact in contacts" @click="selectTarget(contact)" :class="(visible == true)? 'visible' : 'invisible'">
                        <img :src="contact.avatar" :alt="contact.name">
                        <span>{{contact.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="app-right">
            <div id="app-right-target">
                <div>
                    <img :src="target.avatar" :alt="target.name">
                    <span>{{target.name}} <br>
                        <span>Ultimo accesso alle</span>
                    </span>
                </div>
                <div>
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
             </div>
            <div id="app-right-convo">
                <div id="texts-container">
                   <div v-for="message in target.messages" :class="message.status">{{message.text}} <small>{{message.date}}</small></div>
                </div>
            </div>
            <div id="app-right-text">
                <i class="far fa-smile"></i>
                <input id="newText" placeholder="Invia un messaggio" @keyup.enter="sendText()">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>
    <!-- /App -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/scipt.js"></script>
</body>
</html>